<div style="margin: 12px">
  <ol class="breadcrumb border">
    <li class="breadcrumb-item active" aria-current="page"><%= link_to t('view.back_mypage'), users_show_path %></li>
  </ol>
  <br>
  <div class="text-center">
    <h3><%= t('view.purchase_done') %></h3>
  </div>
</div>