<h1>手順に対してコメントされました！</h1>
<h4>手順作成者: <%= @surgical_operation.user.name %></h4>
<h4>コメントした人: <%= @comment.user.name %></h4>
<%# = link_to '手順を確認する', "http://localhost:3000/surgical_operations/#{@surgical_operation.id}" %>
<h4><%= link_to '手順を確認する', "http://54.238.255.197/surgical_operations/#{@surgical_operation.id}" %></h4>
<p>手術名: <%= @surgical_operation.title %></p>