<p>下記があなたの未読の手順です。</p>

<% @surgical_operations = SurgicalOperation.all - @user.reading_surgical_operations %>
<table>
  <tr>
    <th>手術名</th>
  </tr>
  <% @surgical_operations.each do |surgical_operation| %>
  <tr>
    <tr>
      <td><%= surgical_operation.title %></td>
      <%#= link_to '手順を確認する', surgical_operation_url(surgical_operation.id) %>
      <td><%= link_to '手順を確認する', "http://54.238.255.197/surgical_operations/#{surgical_operation.id}" %></td>
    </tr>
  </tr>
  <% end %>
</table>