/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
header {
  width: 100%;
  background-color: aquamarine;
  height: 54px;
}

.header_list {
  float: right;
}

footer {
  width: 100%;
  background-color: aquamarine;
  padding: 20px 0 10px 0;
  color: dodgerblue;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}