/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #55c500;
    color: #fff;
}

.header_list {
  float: right;
  line-height: 50px;
  padding-right: 8px;
}

.header_logo {
  float: left;
  line-height: 50px;
  font-size: 20px;
  padding-left: 8px;
}

header a {
  color : #fff;
}

main {
  padding-top: 8px;
}

footer {
  width: 100%;
  background-color: #3e3e3e;
  padding: 20px 0 10px 0;
  color: #fff;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  box-sizing: inherit;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}

.container{
  height: 600px;
  overflow: scroll;
}


